<html>
<head>
	<title>menu</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">

	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
	<div id="panel">
		<ul class="botones">
			<li><a href="">Inicio</a></li>
			<li><a href="">Catalogo</a>
				<ul class="submenu">
					<li><a href=""> submenu 3</a></li>
				</ul>
			</li>
			<li><a href="">Compras</a></li>
			<li><a href="">¿Quienes somos?</a></li>
			<li>
					<div class="box">
					<a class="button" href="#popup1">Entrar</a>
					</div>
					<div id="popup1" class="overlay">
						<div class="popup">
							<h2>Login</h2>
							<a class="close" href="#">&times;</a>
								<div class="content">
								Contenido
								</div>
						</div>
					</div>
			</li>
		</ul>
	</div>
</body>

</html>